<!doctype html>

<html lang="en">
<meta http-equiv="content-language" content="en-us">
<script>
</script>

<body>

<title>Datenschutzerklärung / Privacy policy</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}">
<h1>Datenschutzerklärung and privacy policy</h1>

<div id="div03">
   
    <form action= "/info" method="post">
        <input type="submit" name="Index" id="b3_1" value=" <-- Back to information">      
    </form>
</div>   

<div id="div04">

 <h4>--</h4> 
 
   <br></br>
   <hr>
   <br></br>
</div>   


</body>
</html>